.my {
    height: 100%;
    button {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }
    .head-box {
        height: 280px;
        width: 100%;
        padding: 44px 0 52px 30px;
        justify-content: flex-start;
        background-image: url('https://res.shiyin.net/shiyin/miniFree/my/bg_1.png');
        margin-top: 0;
        .img-box {
            width: 98px;
            height: 98px;
            margin-right: 20px;
            image {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .name-box {
            max-width: 300px;
            .tip {
                color: #fff;
                display: block;
                &:nth-child(1) {
                    font-size: 46px;
                    font-weight: bold;
                }
                &:nth-child(2) {
                    font-size: 24px;
                }
            }
        }
    }
    .item-box {
        padding-top: 30px;
        border-radius: 20px 20px 0px 0px;
        position: relative;
        top: -20px;
        background-color: #ffffff;
        min-height: 300px;
        .item {
            justify-content: flex-start;
            margin-bottom: 40px;
            .left-item {
                width: 64px;
                height: 64px;
                margin-right: 26px;
                image {
                    width: 100%;
                    height: 100%;
                }
            }
            .right-item {
                width: 594px;
                position: relative;
                .txt {
                    font-size: 30px;
                    color: $deepTitle;
                }
                .right-icon {
                    width: 44px;
                    height: 44px;
                }
            }
            &:nth-child(1) {
                .right-item {
                    &::after {
                        content: ' ';
                        position: absolute;
                        width: 624px;
                        height: 2px;
                        background-color: #f3f3f3;
                        left: 0;
                        top: 72px;
                    }
                }
            }
        }
    }
}